*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

button{
    height: 100px;
}

.calendario{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}



.calendario div{
    width: calc(100% / 7);
    border: solid 1px green ;
    padding: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.holidays{
    background-color: yellow;
}
